<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand">
            <img src="images/baosa.png" alt="" width="40px" height="40px" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu"> BAOSA- <span class="text-danger">07</span>
        </a>




        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">


                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link disabled" tabindex="-1">
                    Welcome, {{ username }}
                    </a>
                </li>

            </ul>


            <div class="actions">
                <button *ngIf="!isLoggedIn" routerLink="/login" class="btn main-btn-color text-light">
                Sign In
               </button>

                <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-danger m-2">
                Sign Out
                </button>
            </div>


        </div>
    </div>
</nav>




<!-- Sidebar Drawer -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
    <div class="offcanvas-header main-btn-color">
        <h5 class="offcanvas-title text-info" id="sideMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body main-btn-color">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="/homepage"><i class="bi bi-house-door"></i> Homepage</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/member/receipts"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/receipts/new"><i class="bi bi-receipt"></i> Receipts</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/payments/new"><i class="bi bi-cash-stack"></i> Payments</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/event/new"><i class="bi bi-calendar-event"></i> Events</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/finance"><i class="bi bi-graph-up"></i> Finance</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/members"><i class="bi bi-people"></i> Members</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/dues"><i class="bi bi-credit-card"></i> Dues</a>
            </li>
        </ul>
    </div>
</div>