<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand">
            <img src="images/baosa.png" alt="" width="40px" height="40px" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu"> BAOSA- <span class="text-danger">07</span>
        </a>




        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">

                <!-- <div class="input-group" style="width: 300px;">
                    <span class="input-group-text">
                    <i class="bi bi-envelope"></i> 
                    </span>
                    <input class="form-control me-2 text-muted" type="search" placeholder="Send Message" aria-label="Search" [(ngModel)]="searchQuery" (input)="onSearchChange()" />
                </div> -->


                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link disabled" tabindex="-1">
                    Welcome, {{ username }}
                    </a>
                </li>

            </ul>








            <!-- <li class="nav-item position-relative mx-3" *ngIf="isLoggedIn">
                <div style="position: relative; display: inline-block;">
                    <a class="nav-link" (click)="goToNotifications()" style="cursor: pointer;">
                        <i class="bi bi-bell" style="font-size: 1.2rem;"></i>
                        <span *ngIf="notificationCount > 0" class="badge rounded-pill bg-danger" style="position: absolute; top: -5px; right: -5px; font-size: 0.7rem;">
                        {{ notificationCount }}
                        <span class="visually-hidden">unread notifications</span>
                        </span>
                    </a>
                </div>
            </li> -->


            <!-- Dropdown Nav Item
            <li class="nav-item dropdown" *ngIf="isLoggedIn">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/receipts/new">Add Receipts</a></li>
                    <li><a class="dropdown-item" routerLink="/payments/new">Record Payment</a></li>
                    <li><a class="dropdown-item" routerLink="/settings">Financial summary</a></li>
                    <li><a class="dropdown-item" routerLink="/settings">Report</a></li>
                    <li><a class="dropdown-item" routerLink="/homepage">homepage</a></li>
                </ul>
            </li> -->

            <div class="actions">
                <button *ngIf="!isLoggedIn" routerLink="/login" class="btn main-btn-color text-light">
                Sign In
               </button>

                <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-danger m-2">
                Sign Out
                </button>
            </div>


        </div>
    </div>
</nav>




<!-- Sidebar Drawer -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
    <div class="offcanvas-header main-btn-color">
        <h5 class="offcanvas-title text-info" id="sideMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body main-btn-color">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="/homepage"><i class="bi bi-house-door"></i> Homepage</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/member/receipts"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/receipts/new"><i class="bi bi-receipt"></i> Receipts</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/payments/new"><i class="bi bi-cash-stack"></i> Payments</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/event/new"><i class="bi bi-calendar-event"></i> Events</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/finance"><i class="bi bi-graph-up"></i> Finance</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/members"><i class="bi bi-people"></i> Members</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/dues"><i class="bi bi-credit-card"></i> Dues</a>
            </li>
        </ul>
    </div>
</div>