@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

.ng-invalid:not(form) {
    border-left: 5px solid rgb(49, 75, 93) !important;
}

.ng-valid:not(form) {
    border-left: 5px solid rgb(49, 75, 93) !important;
}

.main-btn-color {
    background-color: rgb(49, 75, 93) !important;
}

@media (max-width: 768px) {
    * {
        font-size: 13px;
    }
    .card {
        max-width: 95%;
        margin: 10px auto;
        margin-bottom: 20px;
    }
}