@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.main-btn-color {
    background-color: rgb(35, 50, 61) !important;
}

.page {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 80px;
}